.resimSlider{
    height: 400px;
}
body{
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
    
}
.hakkimizda{
    background-color: #f2f2f2;
}
.ayrac{
    border: none;
    border-top:  3px solid #343a40;
    max-width: 250px;
    margin: 25px auto;
}
.ibeyaz{
    color: #343a40;
    position: relative;
    top: -55px;
    font-size: 0.5px;
}
.footer-cls {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(135, 177, 180, 0.685);
    padding: 50px;

  }
.ekipkart>index.html:hover{
    opacity: 0.8;
}
.li-styl{
    display: list-item;
    text-align: justify;
}
.ul-styl{
    list-style-position: inside;
    list-style-type: circle;
}
.nv-cls{
    background-color: #0671d4;
}

.galeri{
    background-color: #f2f2f2;
}
.figure:hover{
    opacity: 0.8;
}
.site-container{
    margin: 2rem auto;
    max-width: calc(100%-80px);
}
.article-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(265px,1fr));
    gap: 2rem;
}
.article-image{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.article-image img{
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}
.article-card{
    background: white;
    border-radius: 20px;
    transition: 0.3s;
}
.article-card :hover{
    box-shadow: 0 4px 20px 0 rgba(34,68,123,02);
    cursor: pointer;
}
.article-content{
    padding: 2rem;
}
.article-content .card-category{
    font-size: 0.875;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: #6b82a7;
    display: block;
    text-decoration: none;
}
.article-content .card-title{
    margin: 1rem 0;
    color: #22447b;
}
.article-content .card-excerpt{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #6b82a7;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
@media screen and (min-width:768px){
    .site-container{
        max-width: 608px;
    }
    .article-card{
        display: grid;
        grid-template-rows:220px 1fr;

    }
}
@media screen and (min-width:1280px){
    .site-container{
        max-width: 1156px;
    }
}
#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 100px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
 
#contact h2 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
}
 
.form-control{
    border: none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}
 
#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}
 
#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.4s ease-in-out;
    -moz-transition: border-color 0.4s ease-in-out;
    transition: border-color 0.4s ease-in-out;
    border: 1px solid #aaa;
}
 
#contact textarea {
    height: 120px;
    max-width: 100%;
    resize: none;
}
 
#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: #0671d4;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}
 
#contact button[type="submit"]:hover {
    background: #111111;
    -webkit-transition: background 0.4s ease-in-out;
    -moz-transition: background 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}
 
#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
 
#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}


.nv-cls{
    background-color: #2e2f31;
}
.forms{
    width: 100%;
  background-color: #000405;
  color: white;
  padding: 14px 20px;
  margin: 82px 0;
  border: none;
  border-radius: 4px;
  cursor: grab;
}
.baslik{
	font-family: Arial, sans-serif;
	font-size: 24px;
	color: rgb(253, 253, 253);
    background-color: #2e2f31;
}
.buton{
	font-family: Arial, sans-serif;
	color: rgb(253, 253, 253);
    
    
}
.background{
    background-color: #2e2f31;
}